
     body

{
    background-color: dimgray;
    font-family: Arial;
    text-align: center;
    padding: 0;
    margin: 0;
}

div.page {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 20px 10fr;
    grid-template-areas: 'menu header' 'menu mainContent';
}

.img-container {
    text-align: center;
}

img {
    height: 150px;
    width: 150px;
}
div.header {
    grid-area: header;
}

div.menu {
    background-color: lightgray;
    grid-area: menu;
}

div.mainContent {
    grid-area: mainContent;
}

.menu {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

    .menu a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

@media screen and (max-height: 450px) {
    .menu {
        padding-top: 15px;
    }

        .menu a {
            font-size: 18px;
        }

    h1 {
        color: black;
    }

    h2 {
        color: black;
    }

    .center-text {
        text-align: center;
    }

    a.center-text {
        display: block;
    }

    p {
        color: black;
        font-size: 15px;
    }
}
